---
import Layout from "src/layouts/Layout.astro";
import NavBar from "@components/NavBar.astro";
import Image from "astro/components/Image.astro";
---

<Layout title="Not Found">
  <NavBar />
  <section class="bg-slate-900">
    <div class="py-8 px-4 mx-auto w-full lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center">
        <Image
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/404/404-computer.svg"
          alt="NotFound-Ilustration"
          class="mx-auto w-64 h-64 lg:w-96 lg:h-96"
          width={1024}
          height={1024}
          loading="eager"
          draggable="false"
        />
        <h3
          class="text-white text-5xl font-semibold mb-4 text-center tracking-tighter text-pretty pointer-events-none">
          Whoops! Esa p치gina no existe.
        </h3>
        <p
          class="text-gray-300 mb-8 text-lg md:block leading-tight tracking-tighter text-pretty pointer-events-none">
          Lo sentimos, no podemos encontrar esa p치gina. Encontrar치s mucho por
          explorar en la p치gina de inicio.
        </p>
        <a
          href="/"
          aria-label="Ir al inicio"
          class="inline-block px-6 py-3 bg-white hover:bg-indigo-100 text-slate-900 font-semibold rounded-md transition-colors border-2 border-white relative animate-pulse-ping">
          Volver al inicio
          <span
            class="absolute inset-0 rounded-md border-2 border-white animate-ping pointer-events-none"
          ></span>
        </a>
      </div>
    </div>
  </section>
</Layout>
