---
import Layout from "src/layouts/Layout.astro";
import NavBar from "@components/NavBar.astro";
---

<Layout title="Blog">
  <NavBar />
  <div>
    <p class="font-medium text-3xl text-blue-900 text-center">Proximamente...</p>
  </div>
</Layout>
