---
import Layout from "../layouts/Layout.astro";
import NavBar from "@components/NavBar.astro";

const allPosts = import.meta.glob("../pages/posts/*.md");
const resolvedPosts = await Promise.all(
  Object.entries(allPosts).map(async ([key, post]) => {
    const mod = await post();
    return {
      key,
      title: (mod as any).frontmatter.title,
      description: (mod as any).frontmatter.description,
      pubDate: (mod as any).frontmatter.pubDate
        ? (mod as any).frontmatter.pubDate.split("T")[0]
        : "Fecha desconocida",
      tags: (mod as any).frontmatter.tags,
    };
  })
);
---

<Layout
  title="Blog"
  description="Artículos y guías para egresados: entrevistas, CV, LinkedIn, empleos remotos y recursos para desarrollo profesional.">
  <NavBar />
  <div class="min-h-screen p-6">
    <div class="max-w-7xl mx-auto bg-white shadow-md rounded-lg p-6">
      <h2
        class="text-indigo-950 text-2xl font-semibold mb-4 sm:text-2xl md:text-4xl text-center tracking-tighter text-pretty pointer-events-none">
        Blog
      </h2>
      <p
        class="text-gray-600 text-center mb-8 text-lg md:block leading-tight tracking-tighter text-pretty pointer-events-none">
        Descubre artículos útiles en nuestro blog.
      </p>

      <ul
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 my-8 px-4">
        {
          resolvedPosts.map(({key, title, description, pubDate, tags}) => (
            <li class="flex flex-col bg-slate-50 rounded-2xl border border-indigo-200 shadow-md hover:shadow-xl hover:scale-105 transition-transform duration-300 p-6">
              <div class="flex-1">
                <h4 class="text-indigo-950 text-2xl font-semibold mb-4 tracking-tighter text-pretty pointer-events-none">
                  {title}
                </h4>
                <p class="text-gray-700 text-base leading-relaxed mb-4 tracking-tighter text-pretty pointer-events-none">
                  {description}
                </p>
                {/* Mostrar tags */}
                <div class="flex items-center mt-4 mb-2">
                  <div class="flex-grow border-t border-gray-300" />
                  <span class="text-sm mx-4 text-gray-500 font-semibold leading-tight tracking-tighter text-pretty pointer-events-none">
                    tags
                  </span>
                  <div class="flex-grow border-t border-gray-300" />
                </div>

                {tags && (
                  <ul class="flex flex-wrap gap-2 mt-2">
                    {tags.map((tag) => (
                      <li class="bg-indigo-100 text-indigo-800 text-xs font-semibold px-2 py-1 rounded tracking-tighter text-pretty pointer-events-none">
                        {tag}
                      </li>
                    ))}
                  </ul>
                )}
              </div>
              <div class="mt-6 flex flex-col gap-2">
                <a
                  href={key.replace("../pages", "").replace(".md", "")}
                  class="inline-flex items-center justify-center gap-2 bg-indigo-900 text-white px-4 py-2 rounded-md font-medium text-sm hover:bg-indigo-950 transition-colors duration-300"
                  target="_blank">
                  Ir al blog
                </a>
                <span class="text-sm text-gray-500 text-center leading-relaxed mb-4 tracking-tighter text-pretty pointer-events-none">
                  Publicado el {pubDate}
                </span>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Layout>
