---
import Layout from "src/layouts/Layout.astro"
import NavBar from "@components/NavBar.astro"
import Card from "@components/Card.astro"
import Alert from "@components/Alert.astro"
---
<Layout title="Mejora tu Cv">
    <NavBar/>
    <h1 class="text-center text-4xl font-semibold my-5">¿Cómo puedo mejorar mi CV?</h1>
    
</Layout>