---
import Image from "astro/components/Image.astro";
const logos = [
  {src: "/logos/AutoCar.png", alt: "AutoCar"},
  {src: "/logos/Aguakan.png", alt: "Aguakan"},
  {src: "/logos/Bepensa.png", alt: "Bepensa"},
  {src: "/logos/CFE.png", alt: "CFE"},
  {src: "/logos/SAT.png", alt: "SAT"},
  {src: "/logos/JyC.png", alt: "JyC"},
  {src: "/logos/MoonPalace.png", alt: "MoonPalace"},
  {src: "/logos/INEGI.png", alt: "INEGI"},
];
---

<!-- Empresas Destacadas -->
<section
  class="relative w-full text-center flex flex-col justify-center items-center gap-5 px-4 py-20 sm:py-24 pointer-events-none">
  <h2 class="text-3xl font-semibold text-gray-900 text-center">
    Empresas que confían en nuestros egresados
  </h2>
  <div
    class="w-full h-fit max-w-xl flex flex-col justify-center select-none overflow-hidden">
    <div class="w-max flex flex-nowrap gap-[4rem] animate-slide-logos">
      {
        logos.concat(logos).map((logo) => (
          <div class="aspect-square flex items-center justify-center size-20">
            <Image
              src={logo.src}
              alt={logo.alt}
              width={100}
              height={100}
              loading="lazy"
              class="object-contain"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .gradient {
    mask: linear-gradient(
      90deg,
      transparent,
      black 20%,
      black 80%,
      transparent
    );
    webkitmask: linear-gradient(
      90deg,
      transparent,
      black 20%,
      black 80%,
      black transparent
    );
  }
  @keyframes slide-logos {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-slide-logos {
    animation: slide-logos 30s linear infinite;
  }
</style>
