---
import { Image } from "astro:assets";
---

<footer class="bg-indigo-950">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a
                href="/"
                class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
            >
                <Image
                    src="/Shimadaclan.png"
                    alt="Shimada"
                    class="h-8"
                    width="32"
                    height="32"
                />
                <span
                    class="self-center text-2xl font-semibold whitespace-nowrap text-white"
                    >TeecBack</span
                >
            </a>
            <ul
                class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0"
            >
                <li>
                    <a
                        href="https://rasen-portfolio.vercel.app/"
                        target="_blank"
                        class="hover:bg-blue-950 p-2 rounded me-4 md:me-6"
                        >Mi Blog</a
                    >
                </li>
                <li>
                    <a
                        href="https://github.com/RasenBunkai"
                        target="_blank"
                        class="hover:bg-blue-950 p-2 rounded me-4 md:me-6"
                        >GitHub</a
                    >
                </li>
                <li>
                    <a
                        href="https://www.linkedin.com/in/emiliano-salgado-mart%C3%ADnez-0032732a3/"
                        target="_blank"
                        class="hover:bg-blue-950 p-2 rounded me-4 md:me-6"
                        >Linkedin</a
                    >
                </li>
                <li>
                    <a
                        href="https://x.com/Rasen_bunkai"
                        target="_blank"
                        class="hover:bg-blue-950 p-2 rounded">Contacto</a
                    >
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-700 sm:mx-auto lg:my-8" />
        <span
            class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
            >© 2024 <a href="/" class="hover:underline">Teecback</a></span
        >
    </div>
</footer>
