---
import Image from "astro/components/Image.astro";
import Forms from "@components/icons/Forms.astro";
import Jobs from "@components/icons/Jobs.astro";
import Briefcase from "@components/icons/Briefcase.astro";
import Comunity from "@components/icons/Comunity.astro";
import Modal from "@components/Modal.astro";
import Bars from "./icons/Bars.astro";

const navItems = [
  {href: "/form", icon: Forms, label: "Encuestas"},
  {href: "/mejoraCV", icon: Briefcase, label: "Mejora tu CV"},
  {href: "/recursos", icon: Jobs, label: "Recursos"},
];
---

<script src="/src/scripts/nav.ts" defer></script>
<nav
  class="top-0 sticky z-50 bg-indigo-950 p-4 flex justify-between items-center h-16">
  <a href="/" class="group flex items-center space-x-3">
    <Image
      src="/Tucan.png"
      alt="TB_Logo"
      class="size-9 transition-transform group-hover:translate-x-3"
      width="32"
      height="32"
      loading="eager"
    />
    <span
      class="transition-transform text-2xl font-semibold text-white group-hover:translate-x-3"
      >TeecBack</span
    >
  </a>

  <!-- Hamburger Menu -->
  <button
    id="menu-button"
    class="text-white block md:hidden focus:outline-none"
    aria-expanded="false">
    <Bars
      className="size-6 cursor-pointer hover:scale-125 transition-transform duration-300"
    />
  </button>

  <!-- Menu Items -->
  <ul
    id="menu"
    class="text-white flex flex-col md:flex-row md:space-x-6 absolute md:static top-16 left-0 w-full bg-indigo-950 md:w-auto transition-transform -translate-x-full md:translate-x-0">
    {
      navItems.map(({href, icon: Icon, label}) => (
        <li class="flex justify-center">
          <a
            href={href}
            class="flex p-2 gap-2.5 hover:-translate-y-1 transition">
            <Icon /> {label}
          </a>
        </li>
      ))
    }
    <li class="flex justify-center">
      <button
        id="comunity-button"
        class="flex p-2 gap-2 hover:-translate-y-1 transition cursor-pointer">
        <Comunity /> Comunidad de egresados
      </button>
    </li>
  </ul>
  <Modal />
</nav>
