---
import Forms from "@components/icons/Forms.astro";
import Jobs from "@components/icons/Jobs.astro";
// import Home from "@components/icons/Home.astro";
import Cv from "@components/icons/Cv.astro";
import Comunity from "@components/icons/Comunity.astro";
import Modal from "@components/Modal.astro";
import Image from "astro/components/Image.astro";
---

<nav
  class="top-0 sticky z-50 bg-indigo-950 mx-0 p-4 flex justify-between items-center h-16">
  <a
    href="/"
    class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
    <Image src="/Tucan.png" alt="TB_Logo" class="w-9" width="32" height="32" />
    <span
      class="text-2xl font-bold text-white"
      >TeecBack</span
    >
  </a>

  <!-- Hamburger menu button (visible on mobile) -->
  <button
    id="menu-button"
    class="text-white block md:hidden focus:outline-none"
    aria-expanded="false">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      class="w-6 h-6">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </button>

  <!-- Navigation menu -->
  <ul
    id="menu"
    class="text-white flex flex-col md:flex-row md:space-x-6 absolute md:static top-16 left-0 w-full bg-indigo-950 md:w-auto transition-transform -translate-x-full md:translate-x-0 md:items-center">
    <li class="flex justify-center">
      <a href="/form" class="flex p-2 rounded-lg hover:bg-blue-950 gap-2"
        ><Forms />Encuestas</a
      >
    </li>
    <li class="flex justify-center">
      <a href="/mejoraCV" class="flex p-2 rounded-lg hover:bg-blue-950 gap-2"
        ><Cv /> Mejora tu CV</a
      >
    </li>
    <li class="flex justify-center">
      <a href="/recursos" class="flex p-2 rounded-lg hover:bg-blue-950 gap-2"
        ><Jobs />Recursos</a
      >
    </li>
    <li class="flex justify-center">
      <button
        id="comunity-button"
        class="flex p-2 rounded-lg hover:bg-blue-950 gap-2"
        type="button"><Comunity />Comunidad de egresados</button
      >
    </li>
  </ul>
</nav>
<Modal />

<script src="/src/scripts/nav.js" defer></script>
