---
const testimonials = [
  {
    quote:
      "Gracias a la comunidad de egresados conseguí mi primer empleo en tecnología.",
    name: "Abraham V.",
    position: "Ingeniero de Software",
  },
  {
    quote: "Los recursos gratuitos me ayudaron a mejorar mis habilidades.",
    name: "Rebecca M.",
    position: "Marketing Digital",
  },
  {
    quote: "La comunidad de egresados me ayudo a conseguir mi trabajo actual.",
    name: "Pedro D.",
    position: "Analista de Datos",
  },
];
---

<section class="mt-12 container mx-auto px-14 pb-12 max-w-7xl">
  <h3
    class="text-3xl sm:text-2xl md:text-4xl text-center text-indigo-950 font-medium tracking-tighter text-pretty pointer-events-none">
    Lo que dicen nuestros egresados
  </h3>
  <div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      {
        testimonials.map((testimonial) => (
          <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl hover:transform hover:scale-105 transition-transform duration-300">
            <p class="text-gray-700 italic font-light pointer-events-none">
              "{testimonial.quote}"
            </p>
            <h4 class="mt-4 text-indigo-950 font-semibold tracking-tighter text-pretty pointer-events-none">
              {testimonial.name}
            </h4>
            <p class="text-gray-500 text-pretty pointer-events-none">
              {testimonial.position}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
